.appetite {
  /* font-family: 'Megrim' ; */
  /* font-family: 'Lobster Two' ; */
  font-family: 'Kaushan Script' ;
  /* font-family: 'Righteous'; */
  font-weight: bold;
  letter-spacing: .09rem;
  font-size: 2.2rem;
  background-color: var(--main-bg-color);
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.large {
  margin: 0 0 3rem 0;
  width: 12rem;
  height: 3.2rem;
  padding: 1.2rem;
}

.small {
  margin: 0;
  width: 10rem;
  height: 3rem;
  padding: 1rem;
  background-color: transparent;
}

.small:hover {
  cursor: pointer;
  /* background-color: var(--hoover-bg-color); */
}

.dark {
  background-color: transparent;
  /* color: var(--main-bg-color); */
  color: #fff;
  font-size: 1.5rem;
  margin: -0.3rem 0 1rem 5rem;
}