:root {
  --main-bg-color: #cca353;
  --hoover-bg-color: #a7874b;
  --minor-bg-color: #fff;
  --minor-hover-color: #ffffeb;
  --minor-border-color: #ecece0;
  --font-color: #868279;
  --font-two: #43413d;
}

html {
  font-size: 18px;
  /* background-image: url(./background.png); */
  /* background-color: 	#FAFAEE; */
  background-color: rgb(254, 254, 254);
}

a {
  color: none;
  text-decoration: none;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #fafaee;
  width: 30%;
  margin-left: 1%;
}

.image-container img {
  width: 100%;
}

.App {
  font-family: 'Roboto', sans-serif;
  position: relative;
  min-height: 100vh;
}

.content {
  padding-bottom: 2.5rem;
}