:root {
  --main-bg-color: #cca353;
  --hoover-bg-color: #a7874b;
  --minor-bg-color: #fff;
  --minor-hover-color: #ffffeb;
  --minor-border-color: #ecece0;
  --font-color: #868279;
  --font-two: #43413d;
}

html {
  font-size: 18px;
  /* background-image: url(./background.png); */
  /* background-color: 	#FAFAEE; */
  background-color: rgb(254, 254, 254);
}

a {
  color: none;
  text-decoration: none;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #fafaee;
  width: 30%;
  margin-left: 1%;
}

.image-container img {
  width: 100%;
}

/* App Styles */

.App {
  font-family: 'Roboto', sans-serif;
  position: relative;
  min-height: 100vh;
}

.content {
  padding-bottom: 2.5rem;
}



/* .arrow {
  background-color: #cca353;
  padding: 1rem;
  margin: 1rem;
  width: 1.5rem;
  position: fixed;
  bottom: 0;
}

.arrow:hover {
  cursor: pointer;
  background-color: #d8a746;
}

.arrow i {
  color: #fff;
} */